@CHARSET "UTF-8";
.color:link{
	font-size:20px;
	color:blue;
	font-weight:bold;
	}
.fristcolor {
	font-size:20px;
	color:blue;
	font-weight:bold;
}
.color{
	color:#000000; 
	text-decoration:none;
	font-size:20px;
	}/*链接设置*/
/* .color:visited{
	color:#3399CC; 
	text-decoration:none;
	font-weight:bold;}访问过的链接设置 */
	

/* .color:hover{
	color:#CF0000;
	text-decoration:underline;
	font-weight:bold;}鼠标放上的链接设置 */
	
/* a {
	font-size:50px;
} */